extends layout

block content
  // SHOWCASE SLIDER
  section#showcase
    #myCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .carousel-item.carousel-image-1.active
          .container
            .carousel-caption.d-sm-block.text-left.mb-5
              h1.display-3 Deploy
              p.lead
                | Deploy web application to production servers.
                | Prepare and recoding Your apps to production environment.
              a.btn.btn-danger.btn-lg(href='#') Read More...
        .carousel-item.carousel-image-2
          .container
            .carousel-caption.d-sm-block.mb-5
              h1.display-3 Big Data
              p.lead
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum illo voluptatum excepturi
                | possimus omnis placeat error esse eum quas modi.
              a.btn.btn-primary.btn-lg(href='#') Learn More...
        .carousel-item.carousel-image-3
          .container
            .carousel-caption.d-sm-block.text-right.mb-5
              h1.display-3 Coding
              p.lead
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum illo voluptatum excepturi
                | possimus omnis placeat error esse eum quas modi.
              a.btn.btn-success.btn-lg(href='#') Learn More...
      // Arrorws
      a.carousel-control-prev(href='#myCarousel', data-slide='prev')
        span.carousel-control-prev-icon
      a.carousel-control-next(href='#myCarousel', data-slide='next')
        span.carousel-control-next-icon
  // END SLIDE

  // ICON AREA
  section#home-icons.py-5
    .container
      .row
        .col-md-4.mb-4.text-center
          i.fas.fa-cog.fa-3x.mb-2
          h3 Turning Gears
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, consequatur.
        .col-md-4.mb-4.text-center
          i.fas.fa-cloud.fa-3x.mb-2
          h3 Sendin Data
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, consequatur.
        .col-md-4.mb-4.text-center
          i.fas.fa-cart-plus.fa-3x.mb-2
          h3 Making Money
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, consequatur.
    // Home heading section
  section#home-heading.p-5
    .dark-overlay
      .row
        .col
          .container.pt-5
            h1 Are You Ready To Get Started?
            p.d-none.d-md-block
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores
              | dignissimos impedit facilis sit quasi sequi, animi possimus ad veniam ducimus.
  // INFO SECTION
  section#info.py-5
    .container
      .row
        .col-md-6.align-self-center
          h3 Lorem Ipsum
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore dolor labore numquam autem tenetur
            | animi perspiciatis repellendus delectus et perferendis, iusto doloribus est molestiae id culpa itaque
            | quibusdam voluptatibus commodi.
          a.btn.btn-outline-danger.btn-lg(href='#') Learn More...
        .col-md-6
          img.img-fluid(src='img/laptop.png', alt='')
  // VIDEO PLAY
  section#video-play
    .dark-overlay
      .row
        .col
          .container.p-5
            a.video(href='#', data-video='https://www.youtube.com/embed/YyrxRZsmlPE', data-toggle='modal', data-target='#videoModal')
              i.fas.fa-play.fa-3x
            h1 See What We Do
  // PHOTO GALERY
  section#gallery.py-5
    .container
      h1.text-center Photo Gallery
      p.text-center Check out our photos
      .row.mb-4
        .col-md-4
          a(href='https://source.unsplash.com/random/560x560', data-toggle='lightbox', data-gallery='img-gallery', data-height='560', data-width='560')
            img.img-fluid(src='https://source.unsplash.com/random/560x560', alt='')
        .col-md-4
          a(href='https://source.unsplash.com/random/560x561', data-toggle='lightbox', data-gallery='img-gallery', data-height='561', data-width='561')
            img.img-fluid(src='https://source.unsplash.com/random/560x561', alt='')
        .col-md-4
          a(href='https://source.unsplash.com/random/560x562', data-toggle='lightbox', data-gallery='img-gallery', data-height='562', data-width='562')
            img.img-fluid(src='https://source.unsplash.com/random/560x562', alt='')
      .row.mb-4
        .col-md-4
          a(href='https://source.unsplash.com/random/560x563', data-toggle='lightbox', data-gallery='img-gallery', data-height='563', data-width='563')
            img.img-fluid(src='https://source.unsplash.com/random/560x563', alt='')
        .col-md-4
          a(href='https://source.unsplash.com/random/560x564', data-toggle='lightbox', data-gallery='img-gallery', data-height='564', data-width='564')
            img.img-fluid(src='https://source.unsplash.com/random/560x564', alt='')
        .col-md-4
          a(href='https://source.unsplash.com/random/560x565', data-toggle='lightbox', data-gallery='img-gallery', data-height='565', data-width='565')
            img.img-fluid(src='https://source.unsplash.com/random/560x565', alt='')
  // NEWSLETTER
  section#newsletter.text-center.p-5.bg-dark.text-white
    .container
      .row
        .col
          h1 Sign For Our Newsletter
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dicta natus magni minus accusamus mollitia
            | impedit facere laboriosam illo atque.
          form.form-inline.justify-content-center
            input.form-control.mb-2.mr-2(type='text', placeholder='Eneter Name')
            input.form-control.mb-2.mr-2(type='email', placeholder='Eneter Email')
            button.btn.btn-primary.mb-2 Submit

  // VIDEO MODAL
  #videoModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          button.close(data-dismiss='modal')
            span ×
          iframe(src='', frameborder='0', height='350', width='100%', allowfullscreen='')
  // 
